<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- PostgreSQL Connection -->
        <!--<property name="hibernate.archive.autodetection">class, hbm</property>-->
        <!--<property name="connection.url">jdbc:postgresql://localhost/iot-repository</property> &lt;!&ndash; BD Mane &ndash;&gt;-->
        <!--<property name="connection.driver_class">org.postgresql.Driver</property> &lt;!&ndash; DB Driver &ndash;&gt;-->
        <!--<property name="connection.username">postgres</property> &lt;!&ndash; DB User &ndash;&gt;-->
        <!--<property name="connection.password">qwe1234@</property> &lt;!&ndash; DB Password &ndash;&gt;-->
        <!--<property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property> &lt;!&ndash; DB Dialect &ndash;&gt;-->

        <!-- MySQL/MariaDB Connection -->
        <property name="connection.url">jdbc:mysql://localhost/iotrepository</property> <!-- BD Mane -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property> <!-- DB Driver -->
        <property name="connection.username">root</property> <!-- DB User -->
        <property name="connection.password">qwe1234@</property> <!-- DB Password -->
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property> <!-- DB Dialect -->

        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->
        <!--<property name="show_sql">true</property> &lt;!&ndash; Show SQL in console &ndash;&gt;-->
        <!--<property name="format_sql">true</property> &lt;!&ndash; Show SQL formatted &ndash;&gt;-->

        <!-- Mapped Clases -->
        <mapping class="model.Sensor"/>
        <mapping class="model.SensorMeasure"/>
        <mapping class="model.SensorMeasureType"/>
        <mapping class="model.SensorSource"/>
    </session-factory>
</hibernate-configuration>